/* CSS */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&family=New+Rocker&family=Noto+Sans+SC:wght@500&display=swap');

@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.3/font/bootstrap-icons.css");

:root {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	--bg-main: #3b3b4b;
	--text-pri: #b6b6b6;
	--text-sec: #ececec;
	--bg-pri: #23232e;
	--bg-sec: #141418;
	--bg-oracle: #fc6a03;
	--oracle-sec: #ff8833;
	--alura-pri: #0a72e9;
	--alura-sec: #0758b5;
	--linkedin-original: #0077B5;
	--oracle-variation: #642a00;
}


::-webkit-scrollbar{
	width: 0.75rem;
}

::-webkit-scrollbar-track{
	background: #141418;
	
}
::-webkit-scrollbar-thumb{
	background: var(--bg-oracle);
	border-radius: 100vw;
}
::-webkit-scrollbar-thumb:hover{
	background: #fe8631;
}

@supports(scrollbar-color: red blue){
	*{
		scrollbar-color: #141418 #fc6a03;
		scrollbar-width: thin;

	}
}



body{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
	-webkit-background-image: linear-gradient(to bottom right, #3b3b4b, #000000);
	-moz-background-image: linear-gradient(to bottom right, #3b3b4b, #000000);
	-o-background-image: linear-gradient(to bottom right, #3b3b4b, #000000);
	background-image: linear-gradient(to bottom right, #3b3b4b, #000000);
	color: var(--bg-oracle);
	height: 400vh;
	width: 100%;
	
}
/* Botão Play e Botão Settings */
.container-btns{
	min-width: 100%;
	min-height: 8%;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 8%;
}

.btn-play{
	appearance: none;
	background: none;
	border: none;
	outline: none;
	cursor: pointer;

	width: 15%;
	min-width: 175px;
	padding: max(1%);

	
	border-radius: 8px;
	color: var(--bg-oracle);
	font-size: 30px;
	animation: coresPlay 1s linear infinite;

	font-family: 'Montserrat', sans-serif;
	font-family: 'Noto Sans SC', sans-serif;
	font-family: 'New Rocker', cursive;
	transition: 0.25s;
	background-image: linear-gradient(to right, var(--bg-oracle) 50%, transparent 50% );
	background-size: 210%;
	background-position: 99%;
	box-shadow: 0 10px 30px rgba(0,0,0,0.80);
}
.btn-play:hover{
	background-position: 0%;
	color: white;	
	animation: coresPlay 0s linear infinite;
}
.btn-play:active{
	color: var(--bg-oracle);
	background: white;
}
.btn-play:focus{
	background: var(--bg-oracle);
}
.gears{
	cursor: pointer;
	width: 45px;
	min-width: 20px;
	transition: 0.25s;
}
.gears:hover{
	animation: girando 1s linear infinite, cores 1s linear infinite;
	width: 55px;
}
/* Janela Popup do Botão Settings */
#blur.active{
	filter: blur(20px);
	pointer-events: none;
	user-select: none;
}

#popup{
	position: fixed;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 50%;
	padding: 3%;
	box-shadow: 0 5px 30px rgba(0,0,0,0.30);
	background-color: #23232e;
	border: 1px solid var(--bg-oracle);
	visibility: hidden;
	opacity: 0;
	transition: 0.5s;
}

#popup.active{
	top: 40%;
	visibility: visible;
	opacity: 1;
	transition: 0.5s; 
	
}
.popup-class{
	display: flex;
	flex-direction: column;
}
.popup-class h2{
	font-size: 3vw;
	margin-bottom: 0px;
}
.popup-class h3{
	font-size: 2.5vw;
	margin-bottom: 0;
}
.popup-class ul{
	padding-left: 10%;
	
}
.popup-class ul li{
	font-size: 13px;
	text-align: justify;
	line-height: 1.25em;
}
@media screen and (min-width: 1000px) {
	.popup-class ul{
		padding-left: 5%;
	}
	.popup-class ul li{
		font-size: 20px;
	}
}

.container-btn-popup{
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 15%;
	margin-top: 5%;
	
}
@media screen and (max-width: 1000px) {
.fechar-btn{
	min-width: 30%;
	margin-top: 1%;
	padding: 5px;
	font-size: 90%;
	margin: 0;
}
.done-btn{
	min-width: 30%;
	font-size: 90%;
	padding: 5px;
	margin: 0;
}
}
.entrada-texto-opcional{
	margin: 3% 1%;
}

@keyframes coresPlay {
  0% { color: #fc6a03; }
  25% { color: #ff7f24; }
  50% { color: #ffa667; }
  75% { color: #ff7f24; }
  100% { color: #ff7410; }
}


/**/
.wrapper1, .wrapper2, .wrapper3{
	height: 100vh;
	width: 100%;
	padding: 0;
	margin: 0;
}

.wrapper1{
	display: flex;
	flex-direction: column;
	align-content: space-around;
	justify-content: center;
	align-items: center;
	gap: 10%;
}
.header-svgs{
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 70%;
	
	margin-bottom: 5%;
}



/* ORACLE O */
.header-svgs svg:nth-child(2){
	margin-left: -5%;
	transition: all 0.5s ease-in-out;
}
.LetraOracle{
	width: 19.2%;
	-webkit-animation: girando 0.75s linear infinite, cores 1s linear infinite;
	-moz-animation: girando 0.75s linear infinite, cores 1s linear infinite;
	-o-animation: girando 0.75s linear infinite, cores 1s linear infinite;
	animation: girando 0.75s linear infinite, cores 1s linear infinite;
	transform-origin: center;
	
}
.LetraOracle:hover{
	animation: girando 1s linear infinite, cores 0.6s linear infinite;
}
.LetraOracle:active{
	animation: girando 0.75s linear infinite, borracha 0.5s ease-in forwards 0.75s, cores 0.1s ease-in infinite;
}
@keyframes cores {
  0% { fill: #fc6a03; }
  25% { fill: #ff7f24; }
  50% { fill: #ffa667; }
  75% { fill: #ff7f24; }
  100% { fill: #ff7410; }
}
@keyframes borracha{
	100%{
		transform: scaleY(0.7) scaleX(0.7);
	}
}
@keyframes girando{
	0%{
		transform: rotateZ(0deg) scaleY(1) scaleX(1);
	}
	20%{
		transform: rotateZ(72deg) scaleY(0.95) scaleX(0.95);
	}
	40%{
		transform: rotateZ(144deg) scaleY(1) scaleX(1);
	}
	60%{
		transform: rotateZ(216deg) scaleY(0.98) scaleX(0.98);
	}
	80%{
		transform: rotateZ(288deg) scaleY(1) scaleX(1);
	}
	100%{
		transform: rotateZ(360deg) scaleY(0.99) scaleX(0.99);
	}
}

/* FIM LETRA O */


/* Animação corda Forca */
#CordaForca, #Line1, #Line2, #Line3, #Corda{
	transition: all 0.5s ease-in-out;
}
svg:hover #CordaForca{
	stroke:#fc6a03;
}
svg:hover #Line1{
	stroke:#fc6a03;
	fill: #fc6a03;
}
svg:hover #Line2{
	stroke:#fc6a03;
	fill: #fc6a03;
}
svg:hover #Line3{
	stroke:#fc6a03;
	fill: #fc6a03;
}
svg:hover #Corda{
	stroke:#fc6a03;
	fill: #fc6a03;
}
/**/
svg:active #CordaForca{
	stroke:#fc6a03;
	animation: corda 1s ease-in-out forwards, cordaInverso 1s ease-in-out forwards 1s;
	transition: 0.5s;
}
svg:active #Line1{
	stroke:#fc6a03;
	fill: #fc6a03;
	animation: corda 1s ease-in-out forwards, cordaInverso 1s ease-in-out forwards 1s;
	transition: 0.5s;
}
svg:active #Line2{
	stroke:#fc6a03;
	fill: #fc6a03;
	animation: corda 1s ease-in-out forwards, cordaInverso 1s ease-in-out forwards 1s;
	transition: 0.5s;
}
svg:active #Line3{
	stroke:#fc6a03;
	fill: #fc6a03;
	animation: corda 1s ease-in-out forwards, cordaInverso 1s ease-in-out forwards 1s;
	transition: 0.5s;
}
svg:active #Corda{
	stroke:#fc6a03;
	fill: #fc6a03;
	animation: corda 1s ease-in-out forwards, cordaInverso 1s ease-in-out forwards 1s;
	transition: 0.5s;
}
@keyframes corda{
	to{
		transform: translateY(0.8em);
	}
}
@keyframes cordaInverso{
	to{
		transform: translateY(0);
	}
}
/* FIM CORDA FORCA */


/* Animação Forca F */
.FORCA{
	width: 26.2%;
}
.FORCA:active{
	animation: forcaQuebrada 1s linear forwards;
}
@keyframes forcaQuebrada {
	0%{ transform: translateY(0.1em) rotateZ(-3deg); }
	50%{ transform: translateY(0.15em) rotateZ(3deg); }
}
#MadebyRafaelPeres{
	transition: all 0.5s ease-in-out;
}
.FORCA:hover #MadebyRafaelPeres{
	fill: #fc6a03;
	animation: cores 0.5s linear infinite;
}
/* FIM FORCA F */


/* Animação R */
.LetraR-class{
	width: 19.2%;
}
#LinhaNo1, #LinhaNo2, #LinhaNo3, #LinhaNo4{
	transition: all 0.5s ease-in-out;
}

svg:hover #LinhaNo1{
	stroke:#fc6a03;
	
}
svg:hover #LinhaNo2{
	stroke:#fc6a03;
	
}
svg:hover #LinhaNo3{
	stroke:#fc6a03;
	
}
svg:hover #LinhaNo4{
	stroke:#fc6a03;
}
@keyframes coresR {
  0% { stroke: #cb5603; }
  25% { stroke: #dd6e20; }
  50% { stroke: #e1935b; }
  75% { stroke: #dd6e20; }
  100% { stroke: #cb5603; }
}
/**/
svg:hover #MadeirinhaLRBaixo{
	animation: madeirinhaBaixo 2s ease forwards;
	transform-origin: top;
	transform-box: fill-box;
}
@keyframes madeirinhaBaixo{
	25%{
		transform: rotateZ(-30deg) translateX(-5px) translateY(-10px);
	}
	50%{
		transform: rotateZ(0deg) translateX(0px) translateY(0px);
	}
	75%{
		transform: rotateZ(-30deg) translateX(-5px) translateY(-10px);
	}
	100%{
		transform: rotateZ(0deg) translateX(0px) translateY(0px);
	}
}
svg:hover #Prego4{
	animation: prego4 2s ease;
}
@keyframes prego4{
	25%{
		transform: translateY(3px) translateX(-4px);
	}
	50%{
		transform: translateY(0px) translateX(0px);
	}
	75%{
		transform: translateY(3px) translateX(-4px);
	}
	100%{
		transform: translateY(0px) translateX(0px);
	}
}
/* FIM R */


/* Animação C */
.LetraC-class{
	width: 16.2%;
}
svg:hover #MadeiraLetraCCH{
	animation: MadeiraLetraCCH 2s ease forwards;
	transform-origin: 34% 43%;
	transform-box: fill-box;
	z-index: 100;
}
@keyframes MadeiraLetraCCH{
	25%{
		transform: rotateZ(110deg) translateX(20%);
	}
	50%{
		transform: rotateZ(90deg) translateX(20%);
	}
	75%{
		transform: rotateZ(99deg) translateX(20%);
	}
	80%{
		transform: rotateZ(95deg) translateX(20%);
	}
}
@keyframes shake {
  5%{
    transform: translate3d(-3px, 0, 0);
  }
  6%{
    transform: translate3d(4px, 0, 0);
  }
  7%{
    transform: translate3d(-6px, 0, 0);
  }
  8%{
    transform: translate3d(6px, 0, 0);
  }
	9%{
    transform: translate3d(-6px, 0, 0);
  }
	10% {
    transform: translate3d(6px, 0, 0);
  }
	11%{
    transform: translate3d(-6px, 0, 0);
  }
	12% {
    transform: translate3d(4px, 0, 0);
  }
	13%{
    transform: translate3d(-3px, 0, 0);
  }
	14%{
		transform: translate3d(0px, 0, 0);
	}
	100%{
		transform: translate3d(0px, 0, 0);
	}
}
/* FIM C */


/* Animação Alura A */
.LetraA-class{
	width: 19.2%;
	animation: shake 2s linear infinite;
}
svg:hover #AluraA{
	animation: coresA 0.5s infinite;
}
svg:active #AluraA{
	animation: coresR 0.5s infinite, borracha 0.5s ease-in forwards;
	transform-origin: center;
}

@keyframes coresA {
  0% { fill: #0758b5; }
  25% { fill: #0968d5; }
  50% { fill: #0a76f1; }
  75% { fill: #0968d5; }
  100% { fill: #0758b5; }
}
/* FIM A */



.container-inputs{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	width: 10%;
}


#entrada-input, #palavra-output, #letras-erradas{
	margin-top: 0.625em;
	display: none;
}

.display-flex{
	display: flex;
	justify-content: center;

}

.container-riscos{
	margin-top: 3em;
	margin-left: 1em;
	display: flex;
	justify-content: center;
	

}

.span-letra{
	position: relative;
	height: 1rem;
	width: 1.5em;
	margin: 1rem;
	text-align: center;
	font-size: 2em;
}

.span-letra::before{
	content:"";
	height: 0.1875em;
	width: 1.5em;
	top: 240%;
	left: 0%;
	background-color: red;
	position: absolute;

}


.caixa-erradas{
	padding: 0.625em;
	border: 0.125em solid red;
}


.container-erradas{
	width: 30%;
}

.spline{
	position: absolute;
	z-index: -100;
}

.keyboard{
  display: grid;
  grid-template-columns: repeat(20, minmax(auto, 1.25em));
  grid-auto-rows: 3rem;
  gap: .25em;
  justify-content: center;
}

.key{
  font-size: inherit;
  grid-column: span 2;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(
    var(--hue, 200),
    var(--saturation, 1%),
    calc(var(--lightness-offset, 0%) + var(--lightness, 51%)));
  color: white;
  fill: white;
  text-transform: uppercase;
  border-radius: .25em;
  cursor: pointer;
  user-select: none;
}

.key.large{
  grid-column: span 3;
}
.spacer{
	grid-column: span 1;
	background-color: transparent;
}


.key:hover, .key:focus{
  --lightness-offset: 10%;
}
.key:active{
  border-color: hsl(210, 49%, 40%);
}
