/* CSS */

:root {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	--bg-main: #3b3b4b;
	--text-pri: #b6b6b6;
	--text-sec: #ececec;
	--bg-pri: #23232e;
	--bg-sec: #141418;
	--bg-oracle: #fc6a03;
	--oracle-sec: #ff8833;
	--alura-pri: #0a72e9;
	--alura-sec: #0758b5;
	--linkedin-original: #0077B5;
	--oracle-variation: #642a00;
	
}

body{
	box-sizing: border-box;
	overflow-x: hidden;
	background-color: var(--bg-pri);
	color: var(--bg-oracle);
	height: 400vh;
}

.wrapper1, .wrapper2, .wrapper3{
	height: 100vh;
	width: 100vw;
}

.wrapper1{
	display: flex;
	justify-content: center;
	align-items: center;
	
}

.section-svgs{
	
	
}
/* ORACLE O */
.section-svgs svg:nth-child(2){
	margin-left: -2em;
	transition: all 0.5s ease-in-out;
}
.LetraOracle{
	width: 59px;
	height: 59px;
	animation: girando 0.75s linear infinite, cores 1s linear infinite;
	transform-origin: center;
}
.LetraOracle:hover{
	animation: girando 1s linear infinite, cores 0.6s linear infinite;
}
.LetraOracle:active{
	animation: girando 0.75s linear infinite, borracha 0.5s ease-in forwards 0.75s, cores 0.1s ease-in infinite;
}
@keyframes cores {
  0% { fill: #fc6a03; }
  25% { fill: #ff7f24; }
  50% { fill: #ffa667; }
  75% { fill: #ff7f24; }
  100% { fill: #ff7410; }
}
@keyframes borracha{
	100%{
		transform: scaleY(0.7) scaleX(0.7);
	}
}
@keyframes girando{
	0%{
		transform: rotateZ(0deg) scaleY(1) scaleX(1);
	}
	20%{
		transform: rotateZ(72deg) scaleY(0.95) scaleX(0.95);
	}
	40%{
		transform: rotateZ(144deg) scaleY(1) scaleX(1);
	}
	60%{
		transform: rotateZ(216deg) scaleY(0.98) scaleX(0.98);
	}
	80%{
		transform: rotateZ(288deg) scaleY(1) scaleX(1);
	}
	100%{
		transform: rotateZ(360deg) scaleY(0.99) scaleX(0.99);
	}
}
/* FIM LETRA O */


/* FORCA F */
/* #Line1, #Line2, #Line3{
	stroke: black;
}
#Corda{
	fill: black;
	stroke: black;
}
#CordaForca {
	stroke-width: 3;
	stroke: black;
} */

/* Animação corda Forca */
#CordaForca, #Line1, #Line2, #Line3, #Corda{
	transition: all 0.5s ease-in-out;
}

svg:hover #CordaForca{
	stroke:#fc6a03;
}
svg:hover #Line1{
	stroke:#fc6a03;
	fill: #fc6a03;
}
svg:hover #Line2{
	stroke:#fc6a03;
	fill: #fc6a03;
}
svg:hover #Line3{
	stroke:#fc6a03;
	fill: #fc6a03;
}
svg:hover #Corda{
	stroke:#fc6a03;
	fill: #fc6a03;
}
/**/
svg:active #CordaForca{
	stroke:#fc6a03;
	animation: corda 1s ease-in-out forwards, cordaInverso 1s ease-in-out forwards 1s;
	transition: 0.5s;
}
svg:active #Line1{
	stroke:#fc6a03;
	fill: #fc6a03;
	animation: corda 1s ease-in-out forwards, cordaInverso 1s ease-in-out forwards 1s;
	transition: 0.5s;
}
svg:active #Line2{
	stroke:#fc6a03;
	fill: #fc6a03;
	animation: corda 1s ease-in-out forwards, cordaInverso 1s ease-in-out forwards 1s;
	transition: 0.5s;
}
svg:active #Line3{
	stroke:#fc6a03;
	fill: #fc6a03;
	animation: corda 1s ease-in-out forwards, cordaInverso 1s ease-in-out forwards 1s;
	transition: 0.5s;
}
svg:active #Corda{
	stroke:#fc6a03;
	fill: #fc6a03;
	animation: corda 1s ease-in-out forwards, cordaInverso 1s ease-in-out forwards 1s;
	transition: 0.5s;
}
@keyframes corda{
	to{
		transform: translateY(0.8em);
	}
}
@keyframes cordaInverso{
	to{
		transform: translateY(0);
	}
}

.FORCA{
	height: 152px;
	width: 110px;
}

.FORCA:active{
	animation: forcaQuebrada 1s linear forwards;
}
@keyframes forcaQuebrada {
	0%{ transform: translateY(0.1em) rotateZ(-3deg); }
	50%{ transform: translateY(0.15em) rotateZ(3deg); }
}
#MadebyRafaelPeres{
	transition: all 0.5s ease-in-out;
}
.FORCA:hover #MadebyRafaelPeres{
	fill: #fc6a03;
	animation: cores 0.5s linear infinite;
}



/**/
.container-inputs{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: left;
	width: 10%;
}


#entrada-input, #palavra-output, #letras-erradas{
	margin-top: 10px;
}

.display-flex{
	display: flex;
	justify-content: center;

}

.container-riscos{
	margin-top: 3em;
	margin-left: 1em;
	display: flex;
	justify-content: center;
	

}

.span-letra{
	position: relative;
	height: 1rem;
	width: 1.5em;
	margin: 1rem;
	text-align: center;
	font-size: 2em;
}

.span-letra::before{
	content:"";
	height: 3px;
	width: 1.5em;
	top: 240%;
	left: 0%;
	background-color: red;
	position: absolute;

}


.caixa-erradas{
	padding: 10px;
	border: 2px solid red;
}


.container-erradas{
	width: 30%;
}

.spline{
	position: absolute;


	z-index: -100;
}

.keyboard{
  display: grid;
  grid-template-columns: repeat(20, minmax(auto, 1.25em));
  grid-auto-rows: 3rem;
  gap: .25em;
  justify-content: center;
}

.key{
  font-size: inherit;
  grid-column: span 2;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: hsl(
    var(--hue, 200),
    var(--saturation, 1%),
    calc(var(--lightness-offset, 0%) + var(--lightness, 51%)));
  color: white;
  fill: white;
  text-transform: uppercase;
  border-radius: .25em;
  cursor: pointer;
  user-select: none;
}

.key.large{
  grid-column: span 3;
}
.spacer{
	grid-column: span 1;
	background-color: transparent;
}


.key:hover, .key:focus{
  --lightness-offset: 10%;
}
.key:active{
  border-color: hsl(210, 49%, 40%);
}













